@import './styles/reset';
@import './styles/global';
@import './styles/mixins';

:root {
    --header-height: 45px;
    --z-index9999: 9999;
    --container-padding: 6px;
    --main-background-color: #fafafa;
    --secondary-background-color: #ffffff;
    --shadow-color: #cfcfcf;
    --transition-time: 0.2s;
}  